<!DOCTYPE html>
<html>
<head>

    <title>Social Influence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{#<div class="section no-pad-bot" id="index-banner">#}
    {#<div class="container">#}
        {#<br><br>#}
        {#<h1 class="header center orange-text">Starter Template</h1>#}
        {#<div class="row center">#}
            {#<h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>#}
        {#</div>#}
        {#<div class="row center">#}
            {#<a href="http://materializecss.com/getting-started.html" id="download-button"#}
               {#class="btn-large waves-effect waves-light orange">Get Started</a>#}
        {#</div>#}
        {#<br><br>#}

    {#</div>#}
{#</div>#}

<div class="container">
    <div class="section">
        {% block body %}
        {% endblock %}
    </div>
</div>


<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>